    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Operations for the Sharing Economy</h2>
                <p>Integrating geospatial analyses and artificial intelligence techniques, Arogi develops software for location optimization, logistics, and trend discovery.</p>
            </div>
            <div>
                <center>
                <table style="font-family: Arial;">
                  <tr>
                    <!-- by the way, the color scheme for these icons is ccffcc (rgba: 204,255,204,255) -->
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage" src="icons/response.png" /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage" src="icons/transportation.png" /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage2" src="icons/realestate.png" /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage" src="icons/scheduling.png" /></td>
                  </tr>
                  <tr>
                    <td style="width:20%; padding:2.5%; text-align: center;">Response Planning</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Transportation</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Real Estate</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Scheduling</td>
                  </tr>
                </table>
              </center>
            </div>
        </div>
    </section>
