    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Logistics that scale</h2>
                <p>Arogi builds open source software for organizations to optimize transportation routing, scheduling, and logistics. Integrating geospatial analyses and artificial intelligence, Arogi tools enable growing organizations to increase margins, save time, reduce costs, and increase market share. Maintain your own private implementations for free, or we can host them for you. Visit our GitHub <a href="https://github.com/arogi">repositories</a> for code and demonstrations.</p>
            </div>
            <div>
                <center>
                <table style="font-family: Arial;">
                  <tr>
                    <!-- by the way, the color scheme for these icons is ccffcc (rgba: 204,255,204,255) -->
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage" src="icons/response.png" /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage" src="icons/transportation.png" /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img id="aboutimage" src="icons/scheduling.png" /></td>
                  </tr>
                  <tr>
                    <td style="width:20%; padding:2.5%; text-align: center;">Real-time response</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Transportation routing</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Capacities &amp; Scheduling</td>
                  </tr>
                </table>
              </center>
            </div>
        </div>
    </section>
