    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Operations for the Sharing Economy</h2>
                <p>Integrating geospatial analyses and operations research techniques, Arogi develops software for location optimization, logistics, and trend discovery.</p>
            </div>
            <div>
                <center>
                <table style="font-family: Arial;">
                  <tr>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img src="icons/Medical-16.png" width=100px /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img src="icons/Travel-and-Transportation-06.png" width=100px /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img src="icons/RealEstate-18.png" width=100px /></td>
                    <td style="width:20%; padding:2.5%; text-align: center;"><img src="icons/Office-32.png" width=100px /></td>
                  </tr>
                  <tr>
                    <td style="width:20%; padding:2.5%; text-align: center;">Response Planning</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Transportation</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Real Estate</td>
                    <td style="width:20%; padding:2.5%; text-align: center;">Scheduling</td>
                  </tr>
                </table>
              </center>
            </div>
        </div>
    </section>
