    <!-- Map Section -->
    <div id="map"></div>


    <script>
    var map = L.map('map', { scrollWheelZoom:false, attributionControl:false });

    var layer = Tangram.leafletLayer({
        scene: 'scene.yaml',
        attribution: ' <a href="https://mapzen.com/tangram" target="_blank">Mapzen</a> | <span style="color:#ccffcc">&copy;</span> <a href="http://osm.org">OpenStreetMap</a>'
    });

    L.control.attribution({position: 'topright'}).addTo(map);

    layer.addTo(map);


    // // how to add a random marker
    // L.marker([37, -115.2]).addTo(map);



    // // This initial 'view setting' might be skipped (as the routing control will center itself if nothing is
    // /// there already).
    map.setView([34.412, -119.8609], 15);


    </script>
