    <!-- Download Section -->
    <section id="team" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Team</h2>
                    <p>As faculty and doctoral graduates of the computational geography program at the University of California, Santa Barbara, we noticed our separate research would blend into a powerful, novel, and useful analytic platform.</p>
                    <p>Richard Church, Ph.D.<br /></p>
                    <p>Alan Glennon, Ph.D.</p>
                    <p>Antonio Medrano, Ph.D.</p>
                    <p>Matt Niblett, Ph.D.</p>
                </div>
            </div>
        </div>
    </section>
