    <!-- Download Section -->
    <section id="team" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Team</h2>
                    <center>
                    <table style="font-family: Arial;" width=100%>
                      <tr>
                        <td style="width:10%; padding:2.5%; text-align: center;"><img src="img/alanhead.jpg" style="width=50%"/></td>
                        <td><p><strong>Alan Glennon, Ph.D.</strong><br /><a href="http://twitter.com/glennon">Twitter: @glennon</a> | <a href="http://github.com/glennon">GitHub: @glennon</a></p></td>
                      </tr>
                      <tr>
                        <td style="width:10%; padding:2.5%; text-align: center;"><img src="img/antoniohead.jpg" style="width=50%"/></td>
                        <td><p><strong>Antonio Medrano, Ph.D.</strong><br /><a href="http://twitter.com/tonedabass">Twitter: @tonedabass</a> | <a href="http://github.com/antoniomedrano">GitHub: @antoniomedrano</a></p></td>
                      </tr>
                      <tr>
                        <td style="width:10%; padding:2.5%; text-align: center;"><img src="img/timhead.jpg" style="width=50%"/></td>
                        <td><p><strong>Tim Niblett</strong><br /><a href="https://twitter.com/timothyniblett">Twitter: @timothyniblett</a> | <a href="https://github.com/LEDominator">GitHub: @LEDominator</a></p></td>
                      </tr>
                    </table>
                    </center>
                </div>
            </div>
        </div>
    </section>
